In [5]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('D:\Data_set\OnlineRetail.csv',encoding='ISO-8859-1')

In [4]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [9]:
df.dropna()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [11]:
pd.pivot_table(values='Quantity',index='InvoiceNo',columns='Country',aggfunc='mean',data=df)

Country,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.714286,NaN
536366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN
536367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.916667,NaN
536368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.750000,NaN
536369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80995.000000,NaN
C581490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11.500000,NaN
C581499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN
C581568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.000000,NaN
C581569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.000000,NaN

In [14]:
pd.pivot_table(values='Quantity',index='StockCode',columns='CustomerID',aggfunc={'max','min'},data=df)

               max                                                          \
CustomerID 12346.0 12347.0 12348.0 12349.0 12350.0 12352.0 12353.0 12354.0
StockCode
10002          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10080          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10120          NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10123C         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
10124A         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...            ...     ...     ...     ...     ...     ...     ...     ...
D              NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
DOT            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
M              NaN     NaN     NaN     NaN     NaN     1.0     NaN     NaN
PADS           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
POST           NaN     NaN     6.0     1.0     1.0     2.0     NaN     NaN

                            ...     min                                  \
CustomerID 12355.0 12356.0  ... 18273.0 18274.0 18276.0 18277.0 18278.0
StockCode                   ...
10002          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
10080          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
10120          NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
10123C         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
10124A         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
...            ...     ...  ...     ...     ...     ...     ...     ...
D              NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
DOT            NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
M              NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
PADS           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN
POST           NaN    18.0  ...     NaN     NaN     NaN     NaN     NaN


CustomerID 18280.0 18281.0 18282.0 18283.0 18287.0
StockCode
10002          NaN     NaN     NaN     NaN     NaN
10080          NaN     NaN     NaN     NaN     NaN
10120          NaN     NaN     NaN     NaN     NaN
10123C         NaN     NaN     NaN     NaN     NaN
10124A         NaN     NaN     NaN     NaN     NaN
...            ...     ...     ...     ...     ...
D              NaN     NaN     NaN     NaN     NaN
DOT            NaN     NaN     NaN     NaN     NaN
M              NaN     NaN     NaN     1.0     NaN
PADS           NaN     NaN     NaN     NaN     NaN
POST           NaN     NaN     NaN     NaN     NaN

[3684 rows x 8744 columns]